[submodule "tec-coreos-config"]
	path = tec-coreos-config
	url = https://github.com/alicefr/tec-coreos-config.git
[submodule "rhel-coreos-config"]
	path = rhel-coreos-config
	url = https://github.com/coreos/rhel-coreos-config.git
